<h2>An Error Occurred, while processing your request</h2>
<h5>Kindly contact site administrator</h5>

<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h4>Exception Path</h4>
    <hr />
    <div>
        @ViewBag.Path
    </div>
</div>
<div class="alert alert-danger">
    <h4>Exception Message</h4>
    <hr />
    <div>
        @ViewBag.ErrorMessage
    </div>
</div>
<div class="alert alert-danger">
    <h4>Exception Stack Trace</h4>
    <hr />
    <div>
        @ViewBag.StackTrace
    </div>
</div>